
.imgPolytics {
    height: auto;
    width: 100%;
    filter: brightness(30%); 
    background-size:cover;
    background-attachment: fixed;
}

.containerPolytics {
    margin: 100px 0;
    padding: 0 10%;
}